<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $("#datepicker").datepicker({
                dateFormat: "dd/mm/yy",
                altField: "#myDate",
                altFormat: "yymmdd"
            }).val()
        } );
    </script>
</head>
<body>
<h2>Demo Spring Boot Validate date</h2>
<form method="post" th:action="@{/date1}" th:object="${myDate}">
    Date: <input id="datepicker" type="text" /> <br /> <br />
    <input id="myDate" type="hidden" th:field="*{date1}" />
    <span th:if="${#fields.hasErrors('date1')}" th:errors="*{date1}"></span>
    <input type="submit" value="Submit" />
</form>
<p th:text="${ok}"></p>
</body>
</html>